
#sidebar-wrapper {

    margin-right: 125px;

}


#calc-left-b, #calc-right-b {
    display: inline-block;
}


.button-bot-left {
    position: absolute;
    right: 15%;
    bottom: 45%;
}

.button-bot-right {
    position: absolute;
    bottom: 45%;
    left: 15%;
}

#menu-close{
    display:none;
}
