
/* --------- General  ------------ */

body {
    font-family:'Roboto',Calibri,Arial,sans-serif;
    font-weight:300;
    color:#777;
    font-size: 16px;
    line-height:28px;
    background: linear-gradient(rgba(187, 200, 229, 0.9), rgba(187, 200, 229, 0.9)), url(../img/feathers.png) fixed;
}

@media (max-width: 767px) {
    body{font-size: 14px;
        background: #5cb85c;}
}

@media (max-width: 480px) {
    body{font-size: 11px;
        background: #00b3ee;}
}

h1,h2,h3 {
   /* text-transform:uppercase;*/
    color:#444;
    font-weight:300;
}

h3 {
    line-height:1.2;
}

a {
    text-decoration:none;
    transition:all 0.3s ease-out;
    position:relative;
    padding:.5em;
    margin:-.5em;
}

a:hover,a:active,a:focus {
    color:#fff;
	opacity: 0.5;
    text-decoration:none;
}


.visuallyhidden {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* --------- Side Menu  ------------ */

#sidebar-wrapper {
	margin-top: 15px;
    position:fixed;
    right:0;
    width:100px;
    margin-right:-260px;
    border-radius: 5px 5px 0 0;
     background:#405162;
    z-index: 1000;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.sidebar-nav {
    position:absolute;
    width:200px;
    margin:0;
    padding:0;
    background:#405162;
    list-style:none;
}

.sidebar-nav li {
    text-indent:20px;
    line-height:40px;
    border-bottom:1px dotted rgba(255,255,255,0.27);
}

.sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#FFF;
    font-size:16px;
    padding:15px 15px;
}

.sidebar-nav li a:hover {
    text-decoration:none;
    color:#81F89D;
}

.sidebar-nav li a:active,.sidebar-nav li a:focus {
    text-decoration:none;
}

#sidebar-wrapper.active {
    right: 275px;
    width:200px;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
    box-shadow:0  0 15px rgba(0,0,0,0.50);
}

.close-btn {
    display:inline-block;
    color:#FFFFFF;
    font-size:1em;
    margin:0 0 0 0;
    padding:2px 0 0 0;
    line-height:28px;
    text-align:right;
    width:100%;
    background:rgba(0,0,0,0.2);
	border-radius: 5px 5px 0 0;
}

.close-btn span{
	margin: 0 10px 0 15px;
}

.close-btn:hover {
    color:#84FFB0;
}

.close-btn i {
    font-size:1.8em;
    float:right;
    margin-left: 10px;
}

/* --------- header ------------ */

#header{
	background:#405162;
	margin-top: 60px;
	width:100%;
    z-index:99997;
}

.logo {
    color:#fff;
    font-size:2.5em;
    line-height:1.8;
}

.logo-img{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.title{
    display: inherit;
    text-align: center;
	color:#fff;
    font-size: 3.5em;
    line-height: 0.5;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .title { display: none; }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .title { display: none; }
}

#login-toggle{
    z-index:1;
    font-size:35px;
    float:right;
    color:#fff;
    margin:15px 0;
    padding:2px 5px;
    line-height:0;
    border-radius: 5px;
}

#menu-toggle {
    z-index:1;
    font-size:35px;
    float:right;
    color:#fff;
    margin:15px auto;
    padding:2px 10px;
    line-height:0;
    border-radius: 5px;
}
#menu-toggle:hover{
	opacity: 0.5;
}


/* --------- content ------------ */

#calc-left-b, #calc-right-b {
    display:none;
}

#content {
	margin: auto;
    width: 80%;
    height: 100%;
    min-height: 450px;
    background-size:cover;
    background-attachment:fixed;
    position: relative;
    border-radius: 25px;

}
.content-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
	background: url(../img/notebook4.png);
    border-radius: 25px;
    opacity: 0.7;
}


.headings {
    padding:7% 0 7% 0;
    color:#fff;
	text-align:center;
}
.headings h1{
    font-size: 2.5em;
    font-weight:100;
    margin-bottom:20px;
    color:white;
}
.headings p {
    font-size:1.18em;
    font-weight:100;
    margin-bottom:40px;
    letter-spacing:1px;
    line-height:28px;

}

.arrow{
  margin-right: 20px;
  color: #405162;
  display: inline-block;
  font-size: 13em;
  line-height: 200px;
  transform: rotate(-12deg);
}

.rightarrow {
    margin-left: 20px;
    color: #405162;
    display: inline-block;
    font-size: 13em;
    line-height: 200px;
    transform: rotate(12deg);
}

@media (max-width: 480px) {
    .arrow, .rightarrow{
        display: none;}
}

.clockpicker{
    width:100px;
    padding-top: 5px;
}
#datepick-fix{
    position: relative;
    top: -20px;
    margin: 0 auto -20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
.row{
    margin: 0 auto;
    padding: 0;
}
.vertical-align h1{
    text-align: right;
}

.time-wrapper h1{
    font-size: 3em;
    margin: 20px 0 00px 0;
    font-weight: 300;
}
#time-text-left-4, #time-text-left-5{
    color: #2FDA5D;
    font-weight: 500;
    text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}
.time-wrapper i{
    margin: 30px 0 00px 0;
    color: #0C2256;
}
@media (max-width: 769px) {
    .time-wrapper i{
        display: none;
    }
}

/* --------- content buttons ------------ */

.btn-calc-left{
    color:#000;
    font-size:1.75em;
    padding:0 36px 10px 0;
    margin:0 0 20px 0;
    transition:0.4s ease all;
    border-radius:100px;
    background:white;
    text-align:left;
    font-weight:400;
    line-height:22px;
    opacity: 0.7;
}

.btn-calc-right {
    color:#000;
    font-size:1.75em;
    padding:0 0 10px 36px;
    margin: 0 0 20px 0;
    transition:0.4s ease all;
    border-radius:100px;
    background:white;
    text-align:left;
    font-weight: 400;;
    line-height:22px;
    opacity: 0.7;
}

.btn-calc-left span, .btn-calc-right span {
    font-weight:300;
    font-size: 0.53em;
}

.btn-calc-left:hover, .btn-calc-right:hover {
    background:#405162;
    border-color:#405162;
    color:#fff;
}

.btn-calc-left em{
    font-size:45px;
    float:left;
    margin:6px 15px -5px 15px;
}

.btn-calc-right em{
    font-size:45px;
    float:right;
    margin: -20px 15px 0 15px;
}

.button-bot-left{
    position: absolute;
    bottom:  11%;
    left: 30%;
}
.button-bot-right{
    position: absolute;
    bottom:  11%;
    right: 30%;
}


#menu-toggle:hover ,#login-toggle:hover{
    background:#405162;
    border-color:#405162;
    color: #fff;
}

hr.medium{
	max-width: 72%;
	border-color: #405162;
}

/* --------- login form ------------ */
#login-modal{
    margin: 12% auto;
    border-radius: 5px;
    width:300px;
    height:400px;
    background:#405162;
}

.login-title h1{
	color: #FFF;
	font-size: 16px;
    margin : -23px 0 0 20px;
	padding-bottom: 10px;
}

.modal-body{
    padding: 12% 15% 0 15%;
    text-align: center;
    color: #FFF;
}

.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #405162;
    width: 50px;
    text-align: center;
    font-size: 12px;
    margin-top: -13px;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
}

.login-buttons{
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

/* --------- STATISTICS ----------- */

.stat-body{
    position: relative;
    float:none;
}

#stat-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

#stat-content {
    margin: 0 auto;
    border-radius: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.calendar-wrapper{
	float:right;
}

@media (max-width: 767px){
	.calendar-wrapper{
	float:none;
	text-align:center;
 }
}

.calendar{
	display: inline-block;
}

#stat-menu-wrapper{
		display:inline-block;
    border-radius: 20px;
    padding: 15px;
    background: #405162;
    position: relative;
    width: 220px;
}

.stat-menu{
	float:left;
}
@media (max-width: 767px){
	.stat-menu{
	float:none;
	text-align:center;
 }
}

.stat-menu-items{
    color: #FFF;
}

.stat-menu-drop{
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}

.stat-menu-drop select{
    float: right;
}

.stat-menu-drop label{
    color: #FFF;
}

#user-toggle{
    list-style: none;
    height: 42px;
    width: 42px;
    z-index:1;
    text-align: center;
    font-size:35px;
    float:right;
    color:#fff;
    margin:15px 30px 0 0;
    line-height: 1.2;
}

/* ---------- home -----------*/

.home-heading h1{
    font-size: 170%;
    color: #FFFFFF;
    text-align: center;
}
