/* --------- General  ------------ */

* {
    outline: 0 !important
}

body {
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

}

@media (max-width: 1280px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }
}

h1, h2, h3 {
    /* text-transform:uppercase;*/
    font-weight: 300;
}

h3 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    position: relative;
    padding: .5em;
    margin: -.5em;
}

.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.hidden{
    display:none;
}

/* --------- Side Menu  ------------ */
.page {
    position: relative;
    overflow: hidden;
}

#sidebar-wrapper {
    margin-top: 15px;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100px;
    margin-right: -260px;
    border-radius: 5px 5px 0 0;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-wrapper.active {
    right: 275px;
    width: 200px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.50);
}

.close-btn {
    display: inline-block;
    font-size: 1em;
    margin: 0 0 0 0;
    padding: 2px 0 0 0;
    line-height: 28px;
    text-align: right;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.close-btn span {
    margin: 0 10px 0 15px;
}

.close-btn i {
    font-size: 1.8em;
    float: right;
    margin-left: 10px;
}

/* --------- header ------------ */

.header-wrapper {
    margin-left: 200px;
    margin-right: 200px;
}

@media (max-width: 1050px) {
    .header-wrapper {
        margin-right: auto;
        margin-left: auto;
    }
}

#header {
    margin-top: 60px;
    width: 100%;
    z-index: 99997;
}


.logo-img {
    height: 65px;
    margin-right: 10px;
	margin-top: 2px;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.logo-img:hover{
    opacity: 0.6;
}

.title {
    display: inherit;
    text-align: center;
    font-size: 3.5em;
    line-height: 0.5;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .title {
        display: none;
    }
}

.language{
    margin-top: -59px;
    margin-right: 6px;
}
#login-toggle {
    z-index: 1;
    font-size: 35px;
    float: right;
    margin: 15px 0;
    padding: 2px 5px;
    line-height: 0;
    border-radius: 5px;
}

#menu-toggle {
    z-index: 1;
    float: right;
    margin: 19px auto auto 10px;
    padding: 2px 2px;
    line-height: 0;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#menu-toggle.rotated {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#menu-toggle:hover {
    opacity: 0.5;
}

/* --------- content ------------ */

#calc-left-b, #calc-right-b {
    display: none;
}

#content {
    z-index: auto;
    margin: auto;
    width: 80%;
    height: 100%;
    min-height: 450px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    border-radius: 25px;

}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/notebook4.png);
    border-radius: 25px;
    opacity: 0.7;
}

.headings {
    padding: 7% 0 7% 0;
    text-align: center;
}

.headings h1 {
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 20px;
    color: white;
}

.headings p {
    font-size: 1.18em;
    font-weight: 100;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 28px;

}

.wrapTxt {
    position: relative;
}

.wrapTxt .mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-left, .content-right {
    text-align: center;
    min-height: 450px;
}
.log-content-left, .log-content-right {
    padding: 20px 40px 20px 40px;
    text-align: center;
    min-height: 450px;
}

.arrow {
    margin: 0 auto;
    width: 76px;
    height: 150px;
    display: block;
    background:url("../img/morning.svg")  no-repeat;
    -moz-transform: scale(-1, 1) rotate(12deg);
    -webkit-transform: scale(-1, 1) rotate(12deg);
    -o-transform: scale(-1, 1) rotate(12deg);
    -ms-transform: scale(-1, 1) rotate(12deg);
    transform: scale(-1, 1) rotate(12deg);
}

.rightarrow {
    margin: 0 auto;
    width: 76px;
    height: 150px;
    display: block;
    background:url("../img/morning.svg")  no-repeat;
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
}

@media (max-width: 700px) {
    .arrow, .rightarrow {
        background:url("../img/sm-night.svg")  no-repeat;
    }
    .rightarrow{
        margin-top: -30px;
    }
}

.clockpicker {
    width: 110px;
    padding-top: 5px;
}

#datepick-fix {
    position: relative;
    top: -20px;
    margin: 0 auto -20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row {
    margin: 0 auto;
    padding: 0;
}

.vertical-align h1 {
    text-align: right;
}

.time-wrapper h1 {
    font-size: 3em;
    margin: 20px 0 0 0;
    font-weight: 300;
}

#time-text-left-4, #time-text-left-5, #time-text-right-2, #time-text-right-3 {
    font-weight: 500;
    text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}

.time-wrapper em {
    margin: 2em 0 0 1em;
}

@media (max-width: 769px) {
    .time-wrapper em {
        display: none;
    }
}

/* --------- content buttons ------------ */

.btn-calc {
    border: none;
    font-size: 26px;;
    padding: 0 36px 10px 0;
    margin: 0 0 20px 0;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    border-radius: 100px;
    text-align: left;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;
}
.btn-label{
    width: 40px;
}
.btn-calc span {
    font-weight: 300;
    font-size: 14px;
}

.btn-calc em {
    font-size: 45px;
    float: left;
    margin: 6px 15px -5px 15px;
}

.button-bot-left {
    position: absolute;
    right: 15%;
    bottom: 11%;
}

@media (max-width: 540px) {
    .button-bot-left {
        right: 20%;
    }
}

.button-bot-right {
    position: absolute;
    bottom: 11%;
    left: 15%;
}

hr.medium {
    max-width: 72%;
}

/* --------- STATISTICS ----------- */

.stat-body {
    position: relative;
    float: none;
}

#stat-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

#stat-content {
    margin: 0 auto;
    border-radius: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.calendar-wrapper {
    float: right;
}

@media (max-width: 767px) {
    .calendar-wrapper {
        float: none;
        text-align: center;
    }
}

.calendar {
    display: inline-block;
}

#stat-menu-wrapper {
    display: inline-block;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    width: 220px;
}

.stat-menu {
    float: left;
}

@media (max-width: 767px) {
    .stat-menu {
        float: none;
        text-align: center;
    }
}

.stat-menu-drop {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
}

.stat-menu-drop select {
    float: right;
}

#user-toggle {
    list-style: none;
    height: 42px;
    z-index: 1;
    text-align: center;
    font-size: 35px;
    float: right;
    margin: 15px 0 0 0;
    line-height: 1.2;
}

/* ---------- home -----------*/

.home-heading h1 {
    font-size: 170%;
    text-align: center;
}

#home-submit{
    margin-top: 40px;
    width: 200px;
}

#home-dates{
    background-color: #225486;
    border-radius: 20px;
    padding: 20px;
}
.bar-panel-body{
    background-color: #15273A;
    border-radius: 20px;
}
.bar-panel-header{
    text-align: center;
}




/* form-controll täiustamine */

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
textarea.form-control {
    height: 40px;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* lehekülje stiiliga ühtiv nuppu klass*/
.button {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.button:hover {
    opacity: 0.6;
}

.button:active {
    opacity: 0.6;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button:focus{
    opacity: 0.6;
}

.button:active:focus, .button.active:focus{
    opacity: 0.6;
}

/* Registreerimislehe paigutus*/
.reg-panel {
    margin-top: 15%;
    background: #3a3a3a;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    text-align: left;
}

/*---------- Sisselogimise modal ----------*/
.login-panel {
    margin-top: 25%;
}

.panel-header {
    padding: 25px 25px 15px 25px;
    border: 0;
    -moz-border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

.panel-header .close {
    font-size: 2em;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;

}
.panel-header img {
    width: 2.5em;
    float: left;
    margin-right: 20px;
}

.panel-title {
    font-size: 2em;
    line-height: 30px;
}

.panel-body {

    padding: 25px 25px 30px 25px;
    text-align: left;
    -moz-border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}

/*
.panel-body img {
    margin-bottom: 15px;
}
*/

.panel-body label {
    font-size: 1em;
    font-weight: 500;
}

.panel-body form textarea {
    height: 100px;
}

.register {
    font-size: 1.7em;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.register:hover {
    text-decoration: none;
}

.social-img {
    margin-right: 10px;
    width: 40px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.social-img:hover {
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
	opacity: 0.6;
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 400px;
    }
}

.social-wrapper {
    text-align: center;
}

.social-wrapper em {
    font-size: 0.9em;
}

@media (max-width: 480px) {
    .social-wrapper em {
        display: none;
    }
}

.social-icons {
    margin-top: -0.5em;
    float: right;
}

.social-icons a {
    margin: 0 auto;
    padding: 0;
}

.social-label {
    font-size: 0.8em;
}

/* rakenduse abiinfo modali paigutused*/



/*---------- Unelogi ----------*/
.log-text-area{
    margin: 23px 0 20px 0;
    display: block;
    width: 100%;
    height: auto;
    resize: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #DFF0D8 none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.log-text-area:focus{
    background-color: #C9CCDE;
}
/*unelogi nupud*/
#log-save, #log-new{
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
}

.log-panel{
    margin-top: 23px;
}
.log-panel-body{
    height: 377px;
    overflow-y: auto;
    padding: 25px 25px 0 25px;
    text-align: left;
    -moz-border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}
/* tekst jamas sellel laiusel*/
@media (max-width: 1080px) and (min-width: 991px){
    .log-list {
        display:none;
    }
}
/* tooltip kipub veits liiga väikeseks jääma */
.tooltip-inner {
    max-width: 350px;
}

@media (min-width: 993px){
    #left-modal .modal-dialog, #right-modal .modal-dialog{
        max-width: 500px;
    }
    #left-modal-inner{
        right: 20%;
    }
    #right-modal-inner{
        left: 20%;
    }
}


#map-container{
    height: 100%;
}

/* loe lisaks lehekülg*/

.postDate{
    font-size: 0.7em;
}

.postPanel{
    border: 1px solid #333;
    margin: 4px 0 20px 0;
    padding: 5px;
}

.extra-padding{
    padding: 20px;
}