body{
	color: #FFF;
	background: linear-gradient(rgba(187, 200, 229, 0.9), rgba(187,200,229, 0.9)), url(../img/feathers.png);
}


h1, h2, h3 {
	/* text-transform:uppercase;*/
	color: #FFF;
}

a:hover, a:active, a:focus {
	color: #fff;
}
.sidebar-nav {
	background: #405162;
}
.sidebar-nav li {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.27);
}

.sidebar-nav li a {
	color: #FFF;
}
.sidebar-nav li a:hover {
	color: #81F89D;
}

.close-btn {
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.2);
}
.close-btn:hover {
	color: #84FFB0;
}

#header {
	background: #405162;
}

.logo {
	color: #fff;
}

#login-toggle {
	color: #fff;
}
#menu-toggle {
	color: #fff;
}

.headings h2 {
	color: #fff;
}
.content-overlay {
	background: #202931;
}

.arrow, .rightarrow, .arrow-low {
	color: #405162;
}
#time-text-left-4, #time-text-left-5, #time-text-right-2, #time-text-right-3 {
	color: #2FDA5D;
}
.time-wrapper em {
	color: #fff;
}
.btn-calc {
	color: #000;
	background: white;
}
#menu-toggle:hover, #login-toggle:hover, .btn-calc:hover {
	background: #405162;
	border-color: #405162;
	color: #fff;
}
hr.medium {
	border-color: #405162;
}
#stat-menu-wrapper {
	background: #405162;
}
.stat-menu-items {
	color: #FFF;
}
.stat-menu-drop label {
	color: #FFF;
}
#user-toggle {
	color: #fff;
}

/* ---------- home -----------*/

.home-heading h1 {
	color: #FFFFFF;
}

/* --------- login modal --------- */
input[type="email"],
input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
	background: #FFF;
	color: #444;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
	background: #C1CCE7;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
	color: #888;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
	color: #888;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
	color: #888;
}

button.btn, a.btn-l {
	background: #202931;
	color: #fff;
}


button.btn:hover, a.btn-l:hover {
	color: #fff;
}

button.btn:active, a.btn-l:active {
	color: #fff;
}

button.btn:focus, a.btn-l:focus {
	background: #399599;
	color: #fff;
}

button.btn:active:focus, button.btn.active:focus,
a.btn-l:active:focus, a.btn-l.active:focus {
	background: #399599;
	color: #fff;
}

/*.login-panel {
	border: 2px solid #000;
}*/

.panel-header {
	background: #2e3a45;
	color: #FFF;
}

.panel-header .close {
	color: #FFF;
}

.panel-title {
	color: #FFF;
}
.panel-body {
	background: #405162;
	color: #FFF;
}
.panel-body form .input-error {
	border-color: #399599;
}

.register {
	color: #FFF;
}

.register:hover {
	color: #399599;
}

